    body {
      background-color: var(--putih);
      font-family: var(--body-base-font-family);
    }

    .bg-dark-custom {
      background-color: var(--hijau-tua);
    }
    .faq-title {
      font-weight: 700;
      font-size: 2.5rem;
      color: var(--putih);
    }
    .search-box {
      border-radius: 1rem;
      padding: 0.6rem 1.2rem;
      background: var(--putih);
    }
    #faqList a {
      transition: color 0.2s ease;
    }

    #faqList a:hover {
      color: var(--hijau-muda);
    }

    #faqList a:hover i {
      color: var(--hijau-muda);
    }

    .card-faq {
      background-color: var(--kuning-muda);
      border-radius: 1rem;
      padding: 1.5rem;
      height: 100%;
      cursor: pointer;
    }
    .card-faq h5 {
      font-weight: 700;
    }
    .card-faq:hover {
      background-color: var(--kuning-muda);
      transform: scale(1.02);
      transition: all 0.2s ease;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .icon-kategori {
      width: 1.8rem;  
      height: auto;
      margin-right: 0.5rem;
      vertical-align: middle;
    }

    /* .footer {
      background-color: var(--hijau-tua);
      color: var(--putih);
    }
    .footer a {
      color: var(--putih);
      text-decoration: none;
    }
    .footer a:hover {
      text-decoration: underline;
    } */
    .icon-circle {
      font-size: 1.4rem;
      margin-right: 0.5rem;
    }
    .list-group-item {
      cursor: pointer;
    }
    .list-group-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      gap: 1rem;
    }

    .list-group-item i {
      min-width: 16px;
      text-align: right;
    }


    /* Timeline Style for Steps */
    .faq-step {
      position: relative;
      padding-left: 2.5rem;
      margin-bottom: 2rem;
    }
    .faq-step i {
      position: absolute;
      left: 0;
      top: 0.15rem;
      background-color: var(--kuning-muda);
      color: var(--putih);
      border-radius: 50%;
      padding: 0.5rem;
      font-size: 1rem;
    }
    .faq-step::before {
      content: "";
      position: absolute;
      left: 0.75rem;
      top: 2rem;
      height: 100%;
      width: 2px;
      background-color: var(--kuning-muda);
    }
    .faq-step:last-child::before {
      display: none;
    }
    