.navbar .overlap-2 {
    position: absolute;
    width: 1440px;
    height: 99px;
    top: 0;
    left: 0;
    background-color: #2b3537;
}

.navbar .title {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: var(--color-text-neutral-on-neutral);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
}

.navbar .ajukan-laporan {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-space-200);
    padding: var(--size-space-200);
    position: absolute;
    top: 33px;
    left: 201px;
    border-radius: var(--size-radius-200);
    text-decoration: none;
    cursor: pointer;
}

.navbar .ajukan-laporan .title {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: var(--color-text-neutral-on-neutral);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
}

.navbar .rekap {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-space-200);
    padding: var(--size-space-200);
    position: absolute;
    top: 33px;
    left: 358px;
    border-radius: var(--size-radius-200);
    text-decoration: none;
    cursor: pointer;
}

.navbar .faq {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-space-200);
    padding: var(--size-space-200);
    position: absolute;
    top: 33px;
    left: 440px;
    border-radius: var(--size-radius-200);
    cursor: pointer;
}

.navbar .faq .title {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: var(--color-text-neutral-on-neutral);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
}

.navbar .profile-link {
    position: absolute;
    width: 34px;
    height: 34px;
    top: 32px;
    left: 1290px;
}

.navbar .profile {
    width: 26px;
    height: 26px;
}

.navbar .logo-atas {
    position: absolute;
    width: 40px;
    height: 44px;
    top: 27px;
    left: 116px;
    background-image: url("../Images/img/nav-logo.png");
    background-size: 100% 100%;
}

.kategori-proses {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.kategori-proses .div {
  background-color: #ffffff;
  width: 1440px;
  height: 2503px;
  position: relative;
}

.kategori-proses .overlap {
  position: absolute;
  width: 1440px;
  height: 99px;
  top: 0;
  left: 0;
  background-color: #2b3537;
}

.kategori-proses .group {
  position: absolute;
  width: 40px;
  height: 44px;
  top: 27px;
  left: 116px;
}

.kategori-proses .navigation-pill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-200);
  position: absolute;
  top: 33px;
  left: 201px;
  border-radius: var(--size-radius-200);
}

.kategori-proses .title {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: var(--color-text-neutral-on-neutral);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.kategori-proses .title-wrapper {
  left: 358px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-200);
  position: absolute;
  top: 33px;
  border-radius: var(--size-radius-200);
}

.kategori-proses .div-wrapper {
  left: 440px;
  background-color: var(--color-background-brand-tertiary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-200);
  position: absolute;
  top: 33px;
  border-radius: var(--size-radius-200);
}

.kategori-proses .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: var(--color-text-brand-on-brand-secondary);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.kategori-proses .whatsapp-image {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 32px;
  left: 1290px;
  object-fit: cover;
}

.kategori-proses .overlap-group {
  position: absolute;
  width: 1440px;
  height: 1936px;
  top: 99px;
  left: 0;
  background-color: #fffcf5;
}

.kategori-proses .vector {
  position: absolute;
  width: 76px;
  height: 76px;
  top: 117px;
  left: 113px;
}

.kategori-proses .group-wrapper {
  position: absolute;
  width: 1208px;
  height: 1174px;
  top: 408px;
  left: 116px;
  background-color: var(--ffbe-55);
  border-radius: 20px;
  box-shadow: 0px 4px 28.5px #0000001a;
}

.kategori-proses .group-2 {
  position: relative;
  width: 1045px;
  height: 1038px;
  top: 68px;
  left: 90px;
}

.kategori-proses .arrow {
  top: 30px;
  position: absolute;
  width: 13px;
  height: 22px;
  left: 1016px;
}

.kategori-proses .img {
  top: 150px;
  position: absolute;
  width: 13px;
  height: 22px;
  left: 1016px;
}

.kategori-proses .arrow-2 {
  top: 270px;
  position: absolute;
  width: 13px;
  height: 22px;
  left: 1016px;
}

.kategori-proses .arrow-3 {
  top: 390px;
  position: absolute;
  width: 13px;
  height: 22px;
  left: 1016px;
}

.kategori-proses .arrow-4 {
  top: 510px;
  position: absolute;
  width: 13px;
  height: 22px;
  left: 1016px;
}

.kategori-proses .arrow-5 {
  top: 630px;
  position: absolute;
  width: 13px;
  height: 22px;
  left: 1016px;
}

.kategori-proses .arrow-6 {
  top: 750px;
  position: absolute;
  width: 13px;
  height: 22px;
  left: 1016px;
}

.kategori-proses .arrow-7 {
  top: 870px;
  position: absolute;
  width: 13px;
  height: 22px;
  left: 1016px;
}

.kategori-proses .arrow-8 {
  top: 990px;
  position: absolute;
  width: 13px;
  height: 22px;
  left: 1016px;
}

.kategori-proses .p {
  position: absolute;
  width: 866px;
  height: 78px;
  top: 0;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 24px;
}

.kategori-proses .text-wrapper-2 {
  position: absolute;
  width: 866px;
  height: 78px;
  top: 120px;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 24px;
}

.kategori-proses .text-wrapper-3 {
  position: absolute;
  width: 948px;
  height: 78px;
  top: 240px;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 24px;
}

.kategori-proses .text-wrapper-4 {
  position: absolute;
  width: 948px;
  height: 78px;
  top: 360px;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 24px;
}

.kategori-proses .text-wrapper-5 {
  position: absolute;
  width: 866px;
  height: 78px;
  top: 480px;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 24px;
}

.kategori-proses .text-wrapper-6 {
  position: absolute;
  width: 866px;
  height: 78px;
  top: 600px;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 24px;
}

.kategori-proses .text-wrapper-7 {
  position: absolute;
  width: 866px;
  height: 78px;
  top: 720px;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 24px;
}

.kategori-proses .text-wrapper-8 {
  position: absolute;
  width: 866px;
  height: 78px;
  top: 840px;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 24px;
}

.kategori-proses .text-wrapper-9 {
  position: absolute;
  width: 866px;
  height: 78px;
  top: 960px;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 24px;
}

.kategori-proses .line {
  top: 98px;
  position: absolute;
  width: 1024px;
  height: 1px;
  left: 0;
  object-fit: cover;
}

.kategori-proses .line-2 {
  top: 218px;
  position: absolute;
  width: 1024px;
  height: 1px;
  left: 0;
  object-fit: cover;
}

.kategori-proses .line-3 {
  top: 338px;
  position: absolute;
  width: 1024px;
  height: 1px;
  left: 0;
  object-fit: cover;
}

.kategori-proses .line-4 {
  top: 458px;
  position: absolute;
  width: 1024px;
  height: 1px;
  left: 0;
  object-fit: cover;
}

.kategori-proses .line-5 {
  top: 578px;
  position: absolute;
  width: 1024px;
  height: 1px;
  left: 0;
  object-fit: cover;
}

.kategori-proses .line-6 {
  top: 698px;
  position: absolute;
  width: 1024px;
  height: 1px;
  left: 0;
  object-fit: cover;
}

.kategori-proses .line-7 {
  top: 818px;
  position: absolute;
  width: 1024px;
  height: 1px;
  left: 0;
  object-fit: cover;
}

.kategori-proses .line-8 {
  top: 938px;
  position: absolute;
  width: 1024px;
  height: 1px;
  left: 0;
  object-fit: cover;
}

.kategori-proses .text-wrapper-10 {
  position: absolute;
  height: 19px;
  top: 303px;
  left: 116px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 19.2px;
  white-space: nowrap;
}

.kategori-proses .FAQ {
  position: absolute;
  height: 19px;
  top: 44px;
  left: 116px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 19.2px;
  white-space: nowrap;
}

.kategori-proses .text-wrapper-11 {
  position: absolute;
  height: 19px;
  top: 44px;
  left: 165px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 19.2px;
  white-space: nowrap;
}

.kategori-proses .text-wrapper-12 {
  position: absolute;
  height: 48px;
  top: 222px;
  left: 116px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #1e1e1e;
  font-size: 40px;
  letter-spacing: 0.50px;
  line-height: 48.0px;
  white-space: nowrap;
}

.kategori-proses .overlap-2 {
  position: absolute;
  width: 1440px;
  height: 468px;
  top: 2035px;
  left: 0;
  background-color: #2b3537;
}

.kategori-proses .group-3 {
  position: absolute;
  width: 195px;
  height: 213px;
  top: 54px;
  left: 112px;
}

.kategori-proses .text-wrapper-13 {
  position: absolute;
  height: 28px;
  top: 288px;
  left: 112px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28.0px;
  white-space: nowrap;
}

.kategori-proses .frame {
  display: inline-flex;
  align-items: center;
  gap: var(--size-space-400);
  position: absolute;
  top: 339px;
  left: 112px;
}

.kategori-proses .x-logo {
  position: relative;
  width: 23.98px;
  height: 24px;
}

.kategori-proses .img-2 {
  position: relative;
  width: 24px;
  height: 24px;
}

.kategori-proses .rectangle {
  position: absolute;
  width: 1440px;
  height: 25px;
  top: 443px;
  left: 0;
  background-color: var(--fffcf-5);
}

.kategori-proses .text-link-list {
  display: flex;
  flex-direction: column;
  width: 262px;
  align-items: flex-start;
  gap: var(--size-space-300);
  position: absolute;
  top: 54px;
  left: 783px;
}

.kategori-proses .text-strong-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 0px 0px var(--size-space-400) 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.kategori-proses .text-strong {
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.kategori-proses .text-strong-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-strong-font-family);
  font-weight: var(--body-strong-font-weight);
  color: var(--color-text-neutral-on-neutral);
  font-size: var(--body-strong-font-size);
  letter-spacing: var(--body-strong-letter-spacing);
  line-height: var(--body-strong-line-height);
  white-space: nowrap;
  font-style: var(--body-strong-font-style);
}

.kategori-proses .text-link-list-item {
  position: relative;
  width: 89px;
  height: 22px;
}

.kategori-proses .list-item {
  position: absolute;
  height: 22px;
  top: -1px;
  left: 0;
  font-family: var(--body-base-font-family);
  font-weight: var(--body-base-font-weight);
  color: var(--color-text-neutral-on-neutral);
  font-size: var(--body-base-font-size);
  letter-spacing: var(--body-base-letter-spacing);
  line-height: var(--body-base-line-height);
  white-space: nowrap;
  font-style: var(--body-base-font-style);
}

.kategori-proses .text-link-list-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-space-300);
  position: absolute;
  top: 54px;
  left: 1135px;
}

.kategori-proses .text-strong-3 {
  margin-right: -29.00px;
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-strong-font-family);
  font-weight: var(--body-strong-font-weight);
  color: var(--color-text-neutral-on-neutral);
  font-size: var(--body-strong-font-size);
  letter-spacing: var(--body-strong-letter-spacing);
  line-height: var(--body-strong-line-height);
  white-space: nowrap;
  font-style: var(--body-strong-font-style);
}

.kategori-proses .element-laporin-aja {
  position: absolute;
  height: 44px;
  top: 314px;
  left: 786px;
  font-family: var(--body-base-font-family);
  font-weight: var(--body-base-font-weight);
  color: var(--color-text-neutral-on-neutral);
  font-size: var(--body-base-font-size);
  letter-spacing: var(--body-base-letter-spacing);
  line-height: var(--body-base-line-height);
  font-style: var(--body-base-font-style);
}

.overlap-10 {
    position: absolute;
    width: 1440px;
    height: 468px;
    top: 2685px;
    left: 0;
    background-color: #2b3537;
}

.rectangle {
    height: 468px;
    top: 0;
    background-color: #2b3537;
    position: absolute;
    width: 1440px;
    left: 0;
}

.logo-footer {
    position: absolute;
    width: 195px;
    height: 213px;
    top: 54px;
    left: 112px;
}

.text-wrapper-10 {
    position: absolute;
    height: 28px;
    top: 288px;
    left: 112px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28.0px;
    white-space: nowrap;
}

.frame {
    display: inline-flex;
    align-items: center;
    gap: var(--size-space-400);
    position: absolute;
    top: 339px;
    left: 112px;
}

.x-logo {
    position: relative;
    width: 23.98px;
    height: 24px;
}

.img-2 {
    position: relative;
    width: 24px;
    height: 24px;
}

.rectangle-2 {
    height: 25px;
    top: 443px;
    background-color: var(--fffcf-5);
    position: absolute;
    width: 1440px;
    left: 0;
}

.text-link-list {
    display: flex;
    flex-direction: column;
    width: 262px;
    align-items: flex-start;
    gap: var(--size-space-300);
    position: absolute;
    top: 54px;
    left: 781px;
}

.text-strong-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 0px 0px var(--size-space-400) 0px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.text-strong {
    display: flex;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.text-strong-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--body-strong-font-family);
    font-weight: var(--body-strong-font-weight);
    color: var(--color-text-neutral-on-neutral);
    font-size: var(--body-strong-font-size);
    letter-spacing: var(--body-strong-letter-spacing);
    line-height: var(--body-strong-line-height);
    white-space: nowrap;
    font-style: var(--body-strong-font-style);
}

.text-link-list-item {
    position: relative;
    width: 89px;
    height: 22px;
}

.list-item {
    position: absolute;
    height: 22px;
    top: -1px;
    left: 0;
    font-family: var(--body-base-font-family);
    font-weight: var(--body-base-font-weight);
    color: var(--color-text-neutral-on-neutral);
    font-size: var(--body-base-font-size);
    letter-spacing: var(--body-base-letter-spacing);
    line-height: var(--body-base-line-height);
    white-space: nowrap;
    font-style: var(--body-base-font-style);
}

.text-link-list-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-space-300);
    position: absolute;
    top: 54px;
    left: 1133px;
}

.text-strong-3 {
    margin-right: -29.00px;
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--body-strong-font-family);
    font-weight: var(--body-strong-font-weight);
    color: var(--color-text-neutral-on-neutral);
    font-size: var(--body-strong-font-size);
    letter-spacing: var(--body-strong-letter-spacing);
    line-height: var(--body-strong-line-height);
    white-space: nowrap;
    font-style: var(--body-strong-font-style);
}

.element-laporin-aja {
    position: absolute;
    height: 44px;
    top: 314px;
    left: 784px;
    font-family: var(--body-base-font-family);
    font-weight: var(--body-base-font-weight);
    color: var(--color-text-neutral-on-neutral);
    font-size: var(--body-base-font-size);
    letter-spacing: var(--body-base-letter-spacing);
    line-height: var(--body-base-line-height);
    font-style: var(--body-base-font-style);
}
