body {
      background-color: var(--putih);
      font-family: var(--body-base-font-family);      
    }
    .bg-dark-custom {
      background-color: var(--hijau-tua);
    }
    .icon-circle {
      font-size: 1.4rem;
      margin-right: 0.5rem;
    }
    .faq-box {
      background-color: var(--kuning-muda);
      border-radius: 1rem;
      padding: 2rem;
    }
    .faq-box p {
      margin-bottom: 1rem;
      font-weight: 500;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    /* .faq-box p i {
      color: #333;
    } */
    .faq-item a {
      color: inherit;
      text-decoration: none;
    }
    .faq-item {
      cursor: pointer;
      transition: color 0.2s ease;
    }

    .faq-item:hover span,
    .faq-item:hover a,
    .faq-item:hover i {
      color: var(--hijau-muda); 
    }

    .footer {
      background-color: var(--hijau-tua);
      color: var(--putih);
    }
    .footer a {
      color: var(--putih);
      text-decoration: none;
    }
    .footer a:hover {
      text-decoration: underline;
    }