body {
  background-color: var(--putih);
  font-family: var(--body-base-font-family);
  font-weight: var(--body-base-font-weight);
  font-size: var(--body-base-font-size);
  line-height: var(--body-base-line-height);
}

.custom-card-header {
  background-color: var(--merah);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-bottom: 25px;
}

.btn-custom {
  background-color: var(--hijau-tua);
  border-color: var(--hijau-tua);
  color: white;
  font-weight: var(--body-strong-font-weight);
  border-radius: 8px;
  transition: background-color 0.3s ease;
  margin-top: 25px;
}

.btn-custom:hover {
  background-color: #1f2627;
  border-color: #1f2627;
}

.container form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  margin: 30px auto;
}

.form-group label {
  font-weight: var(--body-strong-font-weight);
  margin-bottom: 10px;
}

input[type="text"],
input[type="date"],
select,
textarea {
  border-radius: var(--size-radius-200);
  border: 1px solid #ced4da;
  padding: 12px;
  width: 100%;
  margin-bottom: 20px;
  transition: border-color 0.3s ease;
  font-family: var(--body-base-font-family);
  font-weight: var(--body-base-font-weight);
}

input[type="text"]:focus,
input[type="date"]:focus,
select:focus,
textarea:focus {
  border-color: #86b7fe;
  outline: none;
}

textarea {
  resize: none;
  min-height: 120px;
  margin-bottom: 20px;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
  font-weight: var(--body-strong-font-weight);
  padding: 10px 20px;
  border-radius: var(--size-radius-200);
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

/* ================== Steps Section ================== */
.steps-section {
  background-color: var(--krem-muda); 
  padding: 60px 20px;
}

.steps-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  text-align: center;
  padding-top: 30px;
}

.timeline-line {
  position: absolute;
  top: 65px;
  left: 10%;
  right: 10%;
  height: 2px;
  background-color: #ccc;
  z-index: 1;
}

.step {
  position: relative;
  z-index: 2;
  flex: 1;
  max-width: 220px;
}

.step-icon {
  width: 80px;
  height: 80px;
  margin: 0 auto 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: #E3E3E3; 
}

.step-icon.bg-dark {
  background-color: var(--hijau-tua);
  color: var(--putih); 
}

.step-icon.bg-light {
  background-color: #e0e0e0 !important; 
  color: #333 !important;
}



.step h5 {
  font-weight: var(--body-strong-font-weight);
  margin-bottom: 10px;
}

.step p {
  font-size: 0.95rem;
  color: #555;
}