  /* Report Cards */
  .report-card {
  margin-bottom: 20px;
  border-radius: 13px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  background-color: var(--kuning-muda);
  }

  .report-card img {
  height: 233px;
  object-fit: cover;
  width: 100%;
  }

  .report-card-body {
  margin-left: 4px;
  margin-top: 20px;
  margin-right: 4px;
  margin-bottom: 10px;
  }


  .read-more {
  color: #838383;
  cursor: pointer;
  }

  /* Pagination */
  .pagination .page-item .page-link {
  color: #000;
  border: 2px solid #000;
  margin: 0 5px;
  border-radius: 10px;
  }

  .pagination .page-item.active .page-link {
  background-color: var(--hijau-tua);
  border-color: var(--hijau-tua);
  color: white;
  }

  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    .report-card{
    height: 600px;
    }

    .report-card h5 {
    font-size: 22px;
    font-weight: 600;
    }

    .report-card h6 {
    font-size: 20px;
    font-weight: 600;
    }

    .report-card p{
    font-size: 16px;
    font-weight: 400;
    }
  }

  /* Medium devices (tablets, 768px and up) */
  @media (max-width: 768px) {
    .report-card h5 {
    font-size: 24px;
    font-weight: 600;
    }

    .report-card h6 {
    font-size: 22px;
    font-weight: 600;
    }

    .report-card p {
    font-size: 20px;
    font-weight: 400;
    }

    .search-section .col-md-3, 
    .search-section .col-md-2 {
    margin-bottom: 15px;
    }
  }

  @media (min-width: 992px) {
    .report-card h5 {
    font-family: "Poppins-SemiBold", sans-serif;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 10px;
    }

    .report-card p {
    font-family: "Poppins-Regular", sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: justify;
    line-height: 24px;
    color: #000;
    margin-bottom: 10px;
    }

    .report-card h6{
    font-family: "Poppins-SemiBold", sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
    }
  }

  /* Toggle button hidden on large screens */
  .menu-toggle {
  display: none;
  }

  /* Add optional transition */
  .nav-links {
  transition: all 0.3s ease;
  }
